@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply w-full overflow-x-hidden;
}

body, p {
    @apply text-sm  md:text-base;
    /* font-family: helvetica; */
}

h1 {
    @apply text-3xl md:text-[4rem] lg:text-[5rem] leading-[100%]  pb-8;
}

h2 {
    @apply text-2xl md:text-4xl leading-[110%]  pb-8;
}

h3 {
    @apply text-xl md:text-3xl  pb-6;
}

.box {
    @apply mx-3 lg:mx-[15vw];
}

.text-box  p{
    @apply pb-2;
}